header{
          background-color:#8534F3;
          color:#FFFFFF;
          text-align:center;
          max-width:800px;
          margin:0 auto;
          border: 5px solid #8534F3;
          padding: 16px
        }
        main{
          background-color:#FFFFFF;
          color:#6C3BAA
          text-align:center;
          max-width: 800px;
          margin: 0 auto;
          padding: 16px
       
    }
        img{
